/* General Styles */
body {
    font-family: 'Staatliches', sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*FONT + COLOUR*/
h1, h3, h5, .webtitle, .feature-title h1 {
    color: #c60000;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: linear-gradient(to top, #3c0000, #800000)
}

#logo {
    width: 200px;
}

.webtitle {
    font-size: 100px;
    align-items: center;
}

/* Buttons */
.buttons button {
    background-color: #c60000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Staatliches', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}


.buttons button:hover {
    background-color: #ff0000;
}



